article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
a {
	background:transparent
}
a:focus {
	outline:thin dotted
}
a:active,a:hover {
	outline:0
}
h1 {
	font-size:2em;
	margin:0.67em 0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
mark {
	background:#ff0;
	color:#000
}
code,kbd,pre,samp {
	font-family:monospace, serif;
	font-size:1em
}
pre {
	white-space:pre-wrap
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019"
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
legend {
	border:0;
	padding:0
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}
button,input {
	line-height:normal
}
button,select {
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
html {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
*,*:before,*:after {
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit
}
.ie .swiper-outer-wrap .target {
	display:none
}
.iphone4 .ds-slider .align {
	top:40px;
	padding-bottom:0 !important
}
.iphone4 .btn-row {
	margin-bottom:0 !important
}
.contact-form .content,.nav-black>div,.nav-white>div,.primary-footer .content,.crosslink-footer,.cta-block .content,.agency-in-60 .content,.contact-details {
	padding:0 1.125em;
	max-width:68em;
	margin-left:auto;
	margin-right:auto
}
.contact-form .content:after,.nav-black>div:after,.nav-white>div:after,.primary-footer .content:after,.crosslink-footer:after,.cta-block .content:after,.agency-in-60 .content:after,.contact-details:after {
	content:"";
	display:table;
	clear:both
}
.contact-form .fields,.nav-black,.nav-white {
	display:block
}
.contact-form .fields:after,.nav-black:after,.nav-white:after {
	content:"";
	display:table;
	clear:both
}
.contact-locations .new-haven .content,.contact-locations .new-york .content,.contact-locations .vancouver .content,.contact-hiring .content {
	height:auto
}
.contact-locations .new-haven .content:before,.contact-locations .new-york .content:before,.contact-locations .vancouver .content:before,.contact-hiring .content:before {
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-left:-0.25em
}
.contact-locations .new-haven .content>.align,.contact-locations .new-york .content>.align,.contact-locations .vancouver .content>.align,.contact-hiring .content>.align {
	display:inline-block;
	vertical-align:middle
}
.video,.primary-footer,.contact-hiring {
	clear:both
}
.video:after,.primary-footer:after,.contact-hiring:after {
	content:"";
	display:table;
	clear:both
}
.contact-locations .new-haven,.contact-locations .new-york,.contact-locations .vancouver,.contact-form,.contact-hiring {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover
}
.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8);
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	transition:opacity 0.3s
}
.btn-row,.footer-nav-large a.left,.footer-nav-small a.left,figure,.media,.btn,.btn.large,.nav-black nav ul li a,.nav-white nav ul li a,.footer-nav-large a.right,.footer-nav-small a.right,.primary-footer .social ul,.primary-footer .social ul li,.primary-footer .careers p,.cta-block .description,.agency-in-60 .description,.cta-block .download,.agency-in-60 .download,.contact-details .new-business,.contact-details .new-press,.contact-hiring .content {
	text-align:center
}
@media screen and (min-width: 53.75em) {
	.btn-row {
		text-align:left
	}
}
@media screen and (min-width: 35em) {
	.footer-nav-large a.left,.footer-nav-small a.left {
		text-align:left
	}
}
.contact-locations .new-haven,.contact-locations .new-york,.contact-locations .vancouver {
	padding:2em 0 1.5em;
	border-top:solid 1px #ebebeb;
	background-image:none;
	text-align:center;
	position:relative
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven,.contact-locations .new-york,.contact-locations .vancouver {
		width:50%;
		float:left;
		height:18.750em;
		padding:0;
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center
	}
	.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
		display:block
	}
}
.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
	display:none
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
		display:block
	}
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven .content,.contact-locations .new-york .content,.contact-locations .vancouver .content {
		position:relative;
		z-index:3;
		height:18.750em;
		-webkit-transition:opacity 0.3s;
		-moz-transition:opacity 0.3s;
		transition:opacity 0.3s
	}
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven,.contact-locations .new-york,.contact-locations .vancouver {
		padding:0.625em 0.625em 1.250em;
		width:33.3%;
		border-left:solid 1px #fff
	}
	.contact-locations .new-haven:first-child,.contact-locations .new-york:first-child,.contact-locations .vancouver:first-child {
		border-left:none
	}
	.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
		opacity:0
	}
}
.contact-locations .new-haven:first-child,.contact-locations .new-york:first-child,.contact-locations .vancouver:first-child {
	border-top:none
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven:first-child,.contact-locations .new-york:first-child,.contact-locations .vancouver:first-child {
		border-top:solid 2px #ebebeb
	}
}
.contact-locations .new-haven:hover:after,.contact-locations .new-york:hover:after,.contact-locations .vancouver:hover:after {
	opacity:1
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven .content,.contact-locations .new-york .content,.contact-locations .vancouver .content {
		padding:0 1.250em
	}
}
.contact-locations .new-haven .content .align,.contact-locations .new-york .content .align,.contact-locations .vancouver .content .align {
	width:90%
}
body {
	width:100%
}
a,a:focus {
	outline:none
}
img,iframe {
	max-width:100%
}
* {
	word-wrap:break-word
}
p,h1,h2,h3,h4,h5,h6 {
	-webkit-transition:font-size 0.3s;
	-moz-transition:font-size 0.3s;
	transition:font-size 0.3s
}
.video {
	width:100%;
	position:relative;
	height:0;
	padding-bottom:56.25%
}
.video iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
#first-name {
	display:none
}
ul.disc {
	padding-left:1.250em
}
ul.disc li {
	list-style:none;
	font-size:1.125rem;
	line-height:1.5;
	margin:5px 0 0 -5px;
	position:relative;
	padding:10px 0 0 20px;
	text-align:left
}
ul.disc li:before {
	position:absolute;
	top:0;
	left:0;
	content:"\002022";
	font-size:1.750rem;
	color:#ff7f07;
	margin-right:0.313em
}
.extreme,.big,.title,blockquote footer p,.cta-block .description>h2,.agency-in-60 .description>h2,.contact-details h2,.contact-details h3,.contact-locations h2,.contact-hiring h1 {
	text-transform:uppercase
}
.contact-form .content,.contact-form p,.cta-block,.agency-in-60,.contact-locations h2,.contact-locations p,.contact-locations address,.contact-hiring h1,.contact-hiring p {
	color:#fff
}
.scroll-btn:hover,.link-icon:hover,.nav-black nav ul li a:hover,.nav-white nav ul li a:hover,.nav-black .logo a:hover,.nav-white .logo a:hover,.nav-black .toggle:hover,.nav-white .toggle:hover,.footer-nav-large a:hover,.footer-nav-small a:hover,.circle-nav-fill ul li.arrow a:hover,.circle-nav-outline ul li.arrow a:hover,.circle-nav-fill .swiper-pagination-switch.arrow a:hover,.circle-nav-outline .swiper-pagination-switch.arrow a:hover,.primary-footer .social li a:hover {
	border-bottom:none
}
@font-face {
	font-family:ProximaLight;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_Light.eot");
	src:url("/fonts/proxima/ProximaNova_Light.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_Light.woff") format("woff"),url("/fonts/proxima/ProximaNova_Light.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_Light.svg#ProximaLight") format("svg")
}
@font-face {
	font-family:Proxima;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_Regular.eot");
	src:url("/fonts/proxima/ProximaNova_Regular.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_Regular.woff") format("woff"),url("/fonts/proxima/ProximaNova_Regular.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_Regular.svg#Proxima") format("svg")
}
@font-face {
	font-family:ProximaSemiBold;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_Semibold.eot");
	src:url("/fonts/proxima/ProximaNova_Semibold.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_Semibold.woff") format("woff"),url("/fonts/proxima/ProximaNova_Semibold.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_Semibold.svg#ProximaSemiBold") format("svg")
}
@font-face {
	font-family:ProximaBold;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_Bold.eot");
	src:url("/fonts/proxima/ProximaNova_Bold.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_Bold.woff") format("woff"),url("/fonts/proxima/ProximaNova_Bold.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_Bold.svg#ProximaBold") format("svg")
}
@font-face {
	font-family:ProximaExtraBold;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_ExtraBold.eot");
	src:url("/fonts/proxima/ProximaNova_ExtraBold.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_ExtraBold.woff") format("woff"),url("/fonts/proxima/ProximaNova_ExtraBold.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_ExtraBold.svg#ProximaExtraBold") format("svg")
}
@font-face {
	font-family:ProximaBlack;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/proxima/ProximaNova_Black.eot");
	src:url("/fonts/proxima/ProximaNova_Black.eot?#iefix") format("embedded-opentype"),url("/fonts/proxima/ProximaNova_Black.woff") format("woff"),url("/fonts/proxima/ProximaNova_Black.ttf") format("truetype"),url("/fonts/proxima/ProximaNova_Black.svg#ProximaBlack") format("svg")
}
@font-face {
	font-family:Tisa;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/tisa/tisapro-regular-webfont.eot");
	src:url("/fonts/tisa/tisapro-regular-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/tisa/tisapro-regular-webfont.woff") format("woff"),url("/fonts/tisa/tisapro-regular-webfont.ttf") format("truetype"),url("/fonts/tisa/tisapro-regular-webfont.svg#Tisa") format("svg")
}
@font-face {
	font-family:TisaBold;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/tisa/tisapro-bold-webfont.eot");
	src:url("/fonts/tisa/tisapro-bold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/tisa/tisapro-bold-webfont.woff") format("woff"),url("/fonts/tisa/tisapro-bold-webfont.ttf") format("truetype"),url("/fonts/tisa/tisapro-bold-webfont.svg#TisaBold") format("svg")
}
@font-face {
	font-family:TisaLight;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/tisa/tisapro-light-webfont.eot");
	src:url("/fonts/tisa/tisapro-light-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/tisa/tisapro-light-webfont.woff") format("woff"),url("/fonts/tisa/tisapro-light-webfont.ttf") format("truetype"),url("/fonts/tisa/tisapro-light-webfont.svg#TisaLight") format("svg")
}
body {
	color:#000;
	font-family:"Tisa", serif;
	font-weight:normal;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
p,li,figcaption,address,time {
	font-size:1em;
	line-height:1.667;
	color:#5d5e61
}
p.large,li.large,figcaption.large,address.large,time.large {
	font-size:1.5rem;
	line-height:1.3
}
figcaption {
	line-height:1.375em
}
p {
	margin:1.389em 0
}
ul {
	padding:0
}
ul li {
	list-style:none
}
ul.disc li.title {
	font-family:"ProximaBold";
	color:#000
}
ul.disc li.title:before {
	display:none
}
ol li {
	list-style:decimal;
	font-size:1.125rem
}
strong {
	font-weight:normal;
	font-family:"TisaBold"
}
figcaption {
	color:#000;
	font-style:italic
}
address {
	font-style:normal
}
a {
	text-decoration:none;
	color:#ff7f07;
	-webkit-transition:color 0.1s;
	-moz-transition:color 0.1s;
	transition:color 0.1s
}
a:hover {
	border-bottom:solid 1px #ff7f07
}
h1,h2,h3,h4,h5,h6 {
	font-family:"ProximaBold", Helvetica, Arial, serif;
	font-weight:normal;
	line-height:1;
	margin:0.900em 0 0.200em
}
h1.light,h2.light,h3.light,h4.light,h5.light,h6.light {
	font-family:"ProximaLight", Helvetica, Arial, serif
}
h1.black,h2.black,h3.black,h4.black,h5.black,h6.black {
	font-family:"ProximaBlack", Helvetica, Arial, serif
}
h1.bold,h1 strong,h2.bold,h2 strong,h3.bold,h3 strong,h4.bold,h4 strong,h5.bold,h5 strong,h6.bold,h6 strong {
	font-family:"ProximaBold", Helvetica, Arial, serif
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color:#000
}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	color:#ff7f07
}
h1 {
	font-size:2.3328rem
}
h2 {
	font-size:1.86873rem
}
h3 {
	font-size:1.55728rem
}
h4 {
	font-size:1.29773rem
}
h5 {
	font-size:1.125rem
}
h6 {
	font-size:1.08144rem
}
@media screen and (min-width: 35em) {
	h1 {
		font-size:2.69097rem
	}
}
@media screen and (min-width: 35em) {
	h2 {
		font-size:1.944rem
	}
}
@media screen and (min-width: 35em) {
	h3 {
		font-size:1.62rem
	}
}
@media screen and (min-width: 35em) {
	h4 {
		font-size:1.35rem
	}
}
@media screen and (min-width: 35em) {
	h5 {
		font-size:1.29773rem
	}
}
@media screen and (min-width: 35em) {
	h6 {
		font-size:1.125rem
	}
}
@media screen and (min-width: 53.75em) {
	h1 {
		font-size:2.79936rem
	}
}
@media screen and (min-width: 53.75em) {
	h2 {
		font-size:2.24248rem
	}
}
@media screen and (min-width: 53.75em) {
	h3 {
		font-size:1.86873rem
	}
}
@media screen and (min-width: 53.75em) {
	h4 {
		font-size:1.55728rem
	}
}
@media screen and (min-width: 53.75em) {
	h5 {
		font-size:1.35rem
	}
}
@media screen and (min-width: 53.75em) {
	h6 {
		font-size:1.29773rem
	}
}
.extreme {
	margin:0.15em 0;
	line-height:0.8;
	letter-spacing:0px;
	font-size:3rem;
	word-wrap:normal
}
@media screen and (min-width: 35em) {
	.extreme {
		font-size:5.25rem
	}
}
@media screen and (min-width: 57em) {
	.extreme {
		font-size:7rem
	}
}
@media screen and (min-width: 67em) {
	.extreme {
		font-size:8.563rem
	}
}
.big {
	font-size:3rem;
	line-height:0.9
}
@media screen and (min-width: 35em) {
	.big {
		font-size:4rem
	}
}
.light-title {
	font-family:"Proxima", Helvetica, Arial, serif;
	font-size:2.188rem;
	margin-bottom:40px
}
q,blockquote>p {
	font-style:italic;
	quotes:"\201C" "\201D"
}
q:before,blockquote>p:before {
	content:open-quote
}
q:after,blockquote>p:after {
	content:close-quote
}
blockquote {
	border-top:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	padding:0.909em 0;
	margin:6em 13%
}
blockquote>p {
	font-size:2.79936rem;
	color:#5d5e61
}
blockquote footer p {
	font-family:"Proxima";
	font-size:1rem;
	font-style:normal;
	margin:0
}
blockquote footer p strong {
	font-family:"ProximaBold", Helvetica, Arial, serif
}
figure,.media {
	margin:3.125em 0
}
figure img,figure iframe,.media img,.media iframe {
	max-width:100%
}
.btn,.btn.large {
	display:inline-block;
	background:none;
	padding:1em 0 0.833em;
	width:13.500em;
	margin:0.556em auto 0;
	min-height:2.889em;
	line-height:1.111em;
	vertical-align:middle;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:normal;
	font-family:"ProximaSemiBold";
	font-size:1.125rem;
	letter-spacing:1px;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:background 0.2s,color 0.2s,border 0.2s;
	-moz-transition:background 0.2s,color 0.2s,border 0.2s;
	transition:background 0.2s,color 0.2s,border 0.2s
}
.btn {
	border:solid 2px #000;
	color:#000
}
.btn:hover {
	border-bottom:solid 2px #000;
	background:#000;
	color:#fff
}
.btn.fill {
	background:#000;
	color:#fff
}
.btn.fill:hover {
	color:#fff;
	background:#666;
	border-color:#666
}
.btn.large {
	padding:1.111em 0;
	width:100%
}
@media screen and (min-width: 53.75em) {
	.btn.large {
		width:14.688em
	}
}
.btn.auto {
	padding:0.833em 2.222em;
	width:auto
}
.btn.black,.btn-large.black {
	border:solid 2px #000;
	color:#000
}
.btn.black:hover,.btn-large.black:hover {
	border-bottom:solid 2px #000;
	background:#000;
	color:#fff
}
.btn.black.fill,.btn-large.black.fill {
	background:#000;
	color:#fff
}
.btn.black.fill:hover,.btn-large.black.fill:hover {
	color:#fff;
	background:#666;
	border-color:#666
}
.btn.gray,.btn-large.gray {
	border:solid 2px #666;
	color:#666;
	font-family:"ProximaBold";
	line-height:1em
}
.btn.gray:hover,.btn-large.gray:hover {
	border-bottom:solid 2px #666;
	background:#666;
	color:#fff
}
.btn.gray.fill,.btn-large.gray.fill {
	background:#666;
	color:#fff
}
.btn.gray.fill:hover,.btn-large.gray.fill:hover {
	color:#fff;
	background:#666;
	border-color:#666
}
.btn.white,.btn-large.white {
	border:solid 2px #fff;
	color:#fff
}
.btn.white:hover,.btn-large.white:hover {
	border-bottom:solid 2px #fff;
	background:#fff;
	color:#000
}
.btn.white.fill,.btn-large.white.fill {
	background:#fff;
	color:#fff
}
.btn.white.fill:hover,.btn-large.white.fill:hover {
	color:#fff;
	background:#000;
	border-color:#000
}
.btn.white.fill,.btn-large.white.fill {
	color:#000
}
.btn.orange,.btn-large.orange,.btn.orange-dark,.btn.orange-light {
	border:solid 2px #ff7f07;
	color:#ff7f07
}
.btn.orange:hover,.btn-large.orange:hover,.btn.orange-dark:hover,.btn.orange-light:hover {
	border-bottom:solid 2px #ff7f07;
	background:#ff7f07;
	color:#fff
}
.btn.orange.fill,.btn-large.orange.fill,.btn.orange-dark.fill,.btn.orange-light.fill {
	background:#ff7f07;
	color:#fff
}
.btn.orange.fill:hover,.btn-large.orange.fill:hover,.btn.orange-dark.fill:hover,.btn.orange-light.fill:hover {
	color:#ff7f07;
	background:#fff;
	border-color:#fff
}
.btn.orange-dark:hover {
	background:#000 !important
}
.btn.orange-light:hover {
	background:#ff9000 !important;
	border-color:#ff9000 !important;
	color:#fff !important
}
.btn.blue,.btn-large.blue {
	border:solid 2px #2d9ce8;
	color:#2d9ce8
}
.btn.blue:hover,.btn-large.blue:hover {
	border-bottom:solid 2px #2d9ce8;
	background:#2d9ce8;
	color:#fff
}
.btn.blue.fill,.btn-large.blue.fill {
	background:#2d9ce8;
	color:#fff
}
.btn.blue.fill:hover,.btn-large.blue.fill:hover {
	color:#2d9ce8;
	background:#fff;
	border-color:#fff
}
.btn.icon {
	position:relative;
	padding-left:1.54em
}
.btn.icon [class^="icon-"],.btn.icon [class*=" icon-"] {
	position:absolute;
	left:2.9em;
	top:32%;
	font-size:1.125rem;
	-webkit-transition:none;
	-moz-transition:none;
	transition:none
}
input[type="submit"].btn,button.btn {
	font-family:"ProximaSemiBold"
}
input[type="submit"].btn,input[type="submit"].btn:focus,button.btn,button.btn:focus {
	outline:none
}
@media screen and (min-width: 35em) {
	.btn-row .btn {
		margin-right:0.833em
	}
}
.scroll-btn [class^="icon-"],.scroll-btn [class*=" icon-"] {
	position:relative;
	bottom:-1.481em;
	font-size:3rem;
	color:#fff;
	-webkit-transition:bottom 0.3s;
	-moz-transition:bottom 0.3s;
	transition:bottom 0.3s
}
.scroll-btn:hover [class^="icon-"],.scroll-btn:hover [class*=" icon-"] {
	bottom:-1.389em
}
.scroll-btn-container {
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	display:inline-block;
	position:absolute;
	bottom:40px;
	left:50%
}
.scroll-btn-container [class^="icon-"],.scroll-btn-container [class*=" icon-"] {
	bottom:-0.3em
}
.scroll-btn-container .scroll-btn:hover [class^="icon-"],.scroll-btn-container .scroll-btn:hover [class*=" icon-"] {
	bottom:-0.15em
}
.double-buttons .btn:last-child {
	margin-top:1em
}
@media screen and (min-width: 53.75em) {
	.double-buttons .btn:last-child {
		margin-left:1em;
		margin-top:.556em
	}
}
@font-face {
	font-family:dsicons;
	font-weight:normal;
	font-style:normal;
	src:url("/fonts/icons/dsicons.eot");
	src:url("/fonts/icons/dsicons.eot?#iefix") format("embedded-opentype"),url("/fonts/icons/dsicons.woff") format("woff"),url("/fonts/icons/dsicons.ttf") format("truetype"),url("/fonts/icons/dsicons.svg#dsicons") format("svg")
}
[class^="icon-"],[class*=" icon-"] {
	font-family:"dsicons";
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-size:2em;
	border-radius:50%;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s
}
a [class^="icon-"].black,a [class*=" icon-"].black,[class^="icon-"].black,[class*=" icon-"].black {
	color:#000
}
a [class^="icon-"].white,a [class*=" icon-"].white,[class^="icon-"].white,[class*=" icon-"].white {
	color:#fff
}
a [class^="icon-"].orange,a [class*=" icon-"].orange,[class^="icon-"].orange,[class*=" icon-"].orange {
	color:#ff7f07
}
a .icon-arrow-left.black,.icon-arrow-left.black,a .icon-arrow-right.black,.icon-arrow-right.black,a .icon-close.black,.icon-close.black {
	color:#000
}
a .icon-arrow-left.black:hover,.icon-arrow-left.black:hover,a .icon-arrow-right.black:hover,.icon-arrow-right.black:hover,a .icon-close.black:hover,.icon-close.black:hover {
	background:#000;
	color:#fff
}
a .icon-arrow-left.white,.icon-arrow-left.white,a .icon-arrow-right.white,.icon-arrow-right.white,a .icon-close.white,.icon-close.white {
	color:#fff
}
a .icon-arrow-left.white:hover,.icon-arrow-left.white:hover,a .icon-arrow-right.white:hover,.icon-arrow-right.white:hover,a .icon-close.white:hover,.icon-close.white:hover {
	background:#fff;
	color:#000
}
a .icon-arrow-left.orange,.icon-arrow-left.orange,a .icon-arrow-right.orange,.icon-arrow-right.orange,a .icon-close.orange,.icon-close.orange {
	color:#ff7f07
}
a .icon-arrow-left.orange:hover,.icon-arrow-left.orange:hover,a .icon-arrow-right.orange:hover,.icon-arrow-right.orange:hover,a .icon-close.orange:hover,.icon-close.orange:hover {
	background:#ff7f07;
	color:#fff
}
a [class^="icon-"].fill.white,[class*=" icon-"].fill.white,[class^="icon-"].fill.white,[class*=" icon-"].fill.white {
	background:#fff;
	color:#ff7f07
}
a [class^="icon-"].fill.white:hover,[class*=" icon-"].fill.white:hover,[class^="icon-"].fill.white:hover,[class*=" icon-"].fill.white:hover {
	color:#ff7f07;
	background:#fff
}
a [class^="icon-"].fill.orange,[class*=" icon-"].fill.orange,[class^="icon-"].fill.orange,[class*=" icon-"].fill.orange {
	background:#ff7f07;
	color:#fff
}
a [class^="icon-"].fill.orange:hover,[class*=" icon-"].fill.orange:hover,[class^="icon-"].fill.orange:hover,[class*=" icon-"].fill.orange:hover {
	color:#ff7f07;
	background:#fff
}
.link-icon [class^="icon-"],.link-icon [class*=" icon-"] {
	position:relative;
	top:6px;
	left:5px;
	font-size:1.6rem
}
.link-icon.left [class^="icon-"],.link-icon [class*=" icon-"] {
	left:0
}
@media screen and (min-width: 53.75em) {
	.link-icon:hover .icon-circle-arrow-right {
		left:10px
	}
	.link-icon:hover .icon-circle-arrow-left {
		left:-5px
	}
}
.icon-brush-code:before {
	content:"\e900"
}
.icon-speedometer:before {
	content:"\e901"
}
.icon-lightbulb-2:before {
	content:"\e902"
}
.icon-globe:before {
	content:"\e600"
}
.icon-scalable:before {
	content:"\e601"
}
.icon-web-editor:before {
	content:"\e602"
}
.icon-users:before {
	content:"\e603"
}
.icon-twitter-small:before {
	content:"\e604"
}
.icon-twitter:before {
	content:"\e605"
}
.icon-tactics:before {
	content:"\e606"
}
.icon-sitecore-logo:before {
	content:"\e607"
}
.icon-sitecore:before {
	content:"\e608"
}
.icon-search:before {
	content:"\e609"
}
.icon-rocket:before {
	content:"\e60a"
}
.icon-responsive:before {
	content:"\e60b"
}
.icon-speaker:before {
	content:"\e60c"
}
.icon-book:before {
	content:"\e60d"
}
.icon-arsenal:before {
	content:"\e60e"
}
.icon-popcorn:before {
	content:"\e60f"
}
.icon-plus:before {
	content:"\e610"
}
.icon-circle-plus:before {
	content:"\e611"
}
.icon-circle-play:before {
	content:"\e612"
}
.icon-phone-money:before {
	content:"\e613"
}
.icon-pen-ruler:before {
	content:"\e614"
}
.icon-money:before {
	content:"\e615"
}
.icon-microphone:before {
	content:"\e616"
}
.icon-measuring:before {
	content:"\e617"
}
.icon-menu:before {
	content:"\e618"
}
.icon-linkedin:before {
	content:"\e619"
}
.icon-like:before {
	content:"\e61a"
}
.icon-like-small:before {
	content:"\e61b"
}
.icon-lightbulb:before {
	content:"\e61c"
}
.icon-lightbulb-off:before {
	content:"\e61d"
}
.icon-iphone:before {
	content:"\e61e"
}
.icon-instagram:before {
	content:"\e61f"
}
.icon-guage:before {
	content:"\e620"
}
.icon-grid:before {
	content:"\e621"
}
.icon-graph:before {
	content:"\e622"
}
.icon-google:before {
	content:"\e623"
}
.icon-flickr:before {
	content:"\e625"
}
.icon-flickr-large:before {
	content:"\e626"
}
.icon-facebook:before {
	content:"\e627"
}
.icon-eye:before {
	content:"\e628"
}
.icon-ee:before {
	content:"\e629"
}
.icon-accelorators:before {
	content:"\e62a"
}
.icon-analysis:before {
	content:"\e62b"
}
.icon-circle-close:before {
	content:"\e62c"
}
.icon-close:before {
	content:"\e62d"
}
.icon-code-brush:before {
	content:"\e62e"
}
.icon-circle-arrow-right:before {
	content:"\e62f"
}
.icon-arrow-right:before {
	content:"\e630"
}
.icon-circle-arrow-left:before {
	content:"\e631"
}
.icon-arrow-left:before {
	content:"\e632"
}
.icon-circle-arrow-down:before {
	content:"\e633"
}
.icon-app:before {
	content:"\e634"
}
.icon-megaphone:before {
	content:"\e635"
}
.icon-personalization:before {
	content:"\e636"
}
input.field,textarea.field {
	border:solid 1px #dcdde1;
	background:#dcdde1;
	color:#5d5e61;
	font-family:"Tisa";
	font-weight:100;
	width:100%;
	padding:0.9em 1em 0.95em;
	text-align:left
}
input.field:focus,textarea.field:focus {
	background:#fff;
	border-color:#fff
}
input.error.field,textarea.error.field {
	background:#fbdfdc;
	border-color:#e74c3c;
	color:#e74c3c
}
.fields {
	padding:0;
	margin:0 0 1.125em 0
}
input.field,textarea.field {
	display:block;
	outline:none;
	border-radius:0;
	-webkit-transition:background 0.3s;
	-moz-transition:background 0.3s;
	transition:background 0.3s
}
.white-bg-form .field:focus {
	border-color:#dcdde1
}
.select-field {
	position:relative
}
.select-field .select {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:60px;
	-webkit-appearance:menulist-button;
	opacity:0;
	z-index:999
}
.select-field .carot {
	display:block;
	content:'';
	position:absolute;
	top:27px;
	right:20px;
	z-index:999;
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:7px solid #5d5e61
}
.contact-form {
	padding:4.688em 0;
	background-image:url(/img/contact/bg_contact.jpg);
	background-color:#37393d
}
.contact-form.large {
	padding:5em 0 5em
}
@media screen and (min-width: 53.75em) {
	.contact-form.large {
		padding:8.750em 0 5.313em
	}
}
.contact-form.simple {
	background:#212224
}
.contact-form .content {
	text-align:center
}
@media screen and (min-width: 53.75em) {
	.contact-form .content {
		padding:0
	}
}
.contact-form form {
	margin-top:2em
}
@media screen and (min-width: 35em) {
	.contact-form form {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:82.94039%;
		margin-left:8.5298%
	}
	.contact-form form:last-child {
		margin-right:0
	}
}
.contact-form .fields {
	margin-bottom:0
}
@media screen and (min-width: 35em) {
	.contact-form .fields {
		margin-bottom:1.125em
	}
}
.contact-form .fields li {
	margin-bottom:1.125em
}
@media screen and (min-width: 35em) {
	.contact-form .fields li {
		margin-bottom:0;
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%
	}
	.contact-form .fields li:last-child {
		margin-right:0
	}
}
@media screen and (min-width: 35em) {
	.contact-form .fields li.full-width {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:100%
	}
	.contact-form .fields li.full-width:last-child {
		margin-right:0
	}
}
.contact-form .btn {
	margin:0
}
.contact-form h1 {
	font-size:2em
}
@media screen and (min-width: 53.75em) {
	.contact-form h1 {
		font-size:2.750em
	}
}
.contact-form p {
	margin:0
}
.contact-form.simple .title {
	text-transform:none;
	font-family:ProximaLight;
	font-size:2.750em;
	margin-top:0
}
.nav-black,.nav-white {
	position:absolute;
	padding-bottom:1em;
	padding-top:1.2em;
	width:100%;
	min-height:70px;
	z-index:999;
	top:0;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s
}
@media screen and (min-width: 53.75em) {
	.nav-black,.nav-white {
		position:fixed;
		padding-bottom:1.563em;
		padding-top:1.500em
	}
}
.pinned.nav-black,.pinned.nav-white,.static.nav-black,.static.nav-white {
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0)
}
.unpinned.nav-black,.unpinned.nav-white {
	-webkit-transform:translateY(-100px);
	-moz-transform:translateY(-100px);
	-ms-transform:translateY(-100px);
	-o-transform:translateY(-100px);
	transform:translateY(-100px)
}
.static.nav-black,.static.nav-white {
	position:relative
}
.nav-black nav,.nav-white nav {
	height:0;
	overflow:hidden;
	margin-top:40px;
	float:left;
	display:block;
	margin-right:2.35765%;
	width:100%;
	-webkit-transition:height 0.2s;
	-moz-transition:height 0.2s;
	transition:height 0.2s
}
.nav-black nav:last-child,.nav-white nav:last-child {
	margin-right:0
}
@media screen and (min-width: 53.75em) {
	.nav-black nav,.nav-white nav {
		height:auto;
		width:100%;
		margin-top:0
	}
}
.nav-black nav ul,.nav-white nav ul {
	margin-top:0.625em;
	margin-bottom:0
}
@media screen and (min-width: 53.75em) {
	.nav-black nav ul,.nav-white nav ul {
		width:100%;
		float:right;
		margin-right:0.4em;
		margin-top:0;
		text-align:right
	}
}
.nav-black nav ul li,.nav-white nav ul li {
	display:block;
	font-family:"ProximaSemiBold";
	font-weight:normal;
	text-transform:uppercase
}
@media screen and (min-width: 53.75em) {
	.nav-black nav ul li,.nav-white nav ul li {
		margin-left:1em;
		display:inline-block;
		-webkit-transition:margin-left 0.3s;
		-moz-transition:margin-left 0.3s;
		transition:margin-left 0.3s
	}
}
@media screen and (min-width: 50em) {
	.nav-black nav ul li,.nav-white nav ul li {
		margin-left:1.875em
	}
}
@media screen and (min-width: 67em) {
	.nav-black nav ul li,.nav-white nav ul li {
		margin-left:3em
	}
}
.nav-black nav ul li a,.nav-white nav ul li a {
	display:block;
	padding:0;
	line-height:3;
	font-size:0.938rem;
	border-top:solid 1px #ebebeb;
	-webkit-transition:color 0.2s;
	-moz-transition:color 0.2s;
	transition:color 0.2s
}
@media screen and (min-width: 53.75em) {
	.nav-black nav ul li a,.nav-white nav ul li a {
		border-top:none;
		font-size:0.8rem;
		line-height:100%
	}
}
@media screen and (min-width: 56.25em) {
	.nav-black nav ul li a,.nav-white nav ul li a {
		font-size:1rem
	}
}
.nav-black nav ul li a:hover,.nav-white nav ul li a:hover,.nav-black nav ul li a.active,.nav-white nav ul li a.active {
	color:#ff7f07
}
.active.nav-black nav,.active.nav-white nav {
	height:17.000em
}
@media screen and (min-width: 53.75em) {
	.active.nav-black nav,.active.nav-white nav {
		height:auto
	}
}
.nav-black .logo,.nav-white .logo {
	margin-top:0;
	margin-bottom:0;
	width:200px;
	position:absolute;
	top:20px
}
.nav-black .logo a,.nav-white .logo a {
	text-indent:-9999px;
	display:block;
	height:30px;
	background:url(/img/sprite_digitalsurgeons.png) no-repeat 0 0;
	background-size:99%
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min--moz-device-pixel-ratio: 1.25), only screen and (-o-min-device-pixel-ratio: 1.25 / 1), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.25dppx) {
	.nav-black .logo a,.nav-white .logo a {
		background-image:url(/img/sprite_digitalsurgeons@2x.png)
	}
}
.nav-black .toggle,.nav-white .toggle {
	position:absolute;
	top:1.1em;
	right:1.125em
}
.nav-black .toggle.menu,.nav-white .toggle.menu {
	display:block
}
@media screen and (min-width: 53.75em) {
	.nav-black .toggle.menu,.nav-white .toggle.menu {
		display:none
	}
}
.nav-black .toggle.menu span,.nav-white .toggle.menu span {
	color:#000;
	-webkit-transition:0s;
	-moz-transition:0s;
	transition:0s
}
.footer-nav-large,.footer-nav-small {
	overflow:hidden
}
.footer-nav-large a,.footer-nav-small a {
	width:100%;
	display:block;
	background:#f5f7f8;
	border-top:solid 1px #cccccc;
	font-family:"ProximaBold";
	color:#000
}
@media screen and (min-width: 53.75em) {
	.footer-nav-large a,.footer-nav-small a {
		width:50%;
		float:left
	}
	.footer-nav-large a:first-child,.footer-nav-small a:first-child {
		border-right:solid 1px #cccccc
	}
}
@media screen and (min-width: 35em) {
	.footer-nav-large a.right,.footer-nav-small a.right {
		text-align:right
	}
}
.footer-nav-large a[href]:hover,.footer-nav-small a[href]:hover {
	border-top-color:#000;
	background:#000
}
.footer-nav-large a[href]:hover,.footer-nav-small a[href]:hover,.footer-nav-large a[href]:hover *,.footer-nav-small a[href]:hover * {
	color:#fff
}
.footer-nav-large a h5,.footer-nav-small a h5 {
	font-family:"Tisa";
	color:#5d5e61;
	margin:0 0 0.625em;
	display:inline-block
}
.footer-nav-large a p,.footer-nav-small a p {
	margin:0;
	line-height:100%
}
.footer-nav-large a span,.footer-nav-small a span {
	display:none
}
@media screen and (min-width: 35em) {
	.footer-nav-large a span,.footer-nav-small a span {
		display:inline-block
	}
}
.footer-nav-large a,.footer-nav-small a,.footer-nav-large a h5,.footer-nav-small a h5,.footer-nav-large a span,.footer-nav-small a span {
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s
}
.footer-nav-large a span,.footer-nav-small a span,.footer-nav-large a h5,.footer-nav-small a h5 {
	color:#5d5e61
}
.nav-black {
	background:none
}
.nav-black.pinned,.nav-black.unpinned {
	background:#000
}
@media screen and (min-width: 53.75em) {
	.nav-black.pinned,.nav-black.unpinned {
		background:rgba(0,0,0,0.8)
	}
}
.nav-black.static,.nav-black.active {
	background:#000
}
.nav-black nav ul li a {
	color:#fff;
	border-color:#262626
}
.nav-black .logo a {
	background-position:0 -32px
}
.nav-black .toggle.menu span {
	color:#fff
}
.black-hover nav ul li a:hover,.black-hover nav ul li a.active {
	color:#000
}
.black-hover.pinned nav ul li a:hover,.black-hover.pinned nav ul li a.active {
	color:#ff7f07 !important
}
.nav-white {
	background:none
}
.nav-white nav ul li a {
	color:#737373
}
.nav-white.pinned,.nav-white.unpinned {
	background:#fff
}
@media screen and (min-width: 53.75em) {
	.nav-white.pinned,.nav-white.unpinned {
		background:rgba(255,255,255,0.8)
	}
}
.nav-white.static,.nav-white.active {
	background:#fff
}
.circle-nav-fill ul,.circle-nav-outline ul {
	min-width:200px
}
.circle-nav-fill ul li,.circle-nav-outline ul li,.circle-nav-fill .swiper-pagination-switch,.circle-nav-outline .swiper-pagination-switch {
	display:inline-block;
	margin-right:9px;
	width:6px;
	height:6px;
	border-radius:50%
}
.circle-nav-fill ul li:last-child,.circle-nav-outline ul li:last-child,.circle-nav-fill .swiper-pagination-switch:last-child,.circle-nav-outline .swiper-pagination-switch:last-child {
	margin-right:0
}
.circle-nav-fill ul li.arrow,.circle-nav-outline ul li.arrow,.circle-nav-fill .swiper-pagination-switch.arrow,.circle-nav-outline .swiper-pagination-switch.arrow {
	border-radius:0;
	width:25px;
	height:30px;
	position:relative;
	top:8px
}
.circle-nav-fill ul li.arrow:last-child,.circle-nav-outline ul li.arrow:last-child,.circle-nav-fill .swiper-pagination-switch.arrow:last-child,.circle-nav-outline .swiper-pagination-switch.arrow:last-child {
	left:3px
}
.circle-nav-fill ul li.arrow span,.circle-nav-outline ul li.arrow span,.circle-nav-fill .swiper-pagination-switch.arrow span,.circle-nav-outline .swiper-pagination-switch.arrow span {
	font-size:1.3em
}
.circle-nav-fill ul li a,.circle-nav-outline ul li a,.circle-nav-fill .swiper-pagination-switch a,.circle-nav-outline .swiper-pagination-switch a {
	display:block;
	width:100%;
	height:100%
}
.circle-nav-fill ul li.active,.circle-nav-outline ul li.active,.circle-nav-fill .swiper-active-switch,.circle-nav-outline .swiper-active-switch {
	width:10px;
	height:10px;
	position:relative;
	top:2px
}
.footer-nav-large a {
	height:6.875em;
	padding:1.563em 5% 0
}
.footer-nav-large a {
	overflow:hidden;
	position:relative
}
.footer-nav-small a {
	height:4.688em;
	padding:.813em 5% 0
}
.footer-nav-small a {
	line-height:3
}
.footer-nav-small a span {
	position:relative;
	top:0.2em;
	margin:0 0.625em
}
.circle-nav-fill ul li,.circle-nav-fill .swiper-pagination-switch {
	background:#797979
}
.circle-nav-fill ul li.arrow,.circle-nav-fill .swiper-pagination-switch.arrow {
	background:none
}
.circle-nav-fill ul li.arrow a,.circle-nav-fill .swiper-pagination-switch.arrow a {
	color:#797979
}
.circle-nav-fill ul li.active,.circle-nav-fill .swiper-active-switch {
	background:none;
	border:solid 2px #797979
}
.circle-nav-fill.white ul li,.circle-nav-fill.white .swiper-pagination-switch {
	background:#fff
}
.circle-nav-fill.white ul li.arrow,.circle-nav-fill.white .swiper-pagination-switch.arrow {
	background:none
}
.circle-nav-fill.white ul li.arrow a,.circle-nav-fill.white .swiper-pagination-switch.arrow a {
	color:#fff
}
.circle-nav-fill.white ul li.active,.circle-nav-fill.white .swiper-active-switch {
	background:none;
	border:solid 2px #fff
}
.circle-nav-fill.black ul li,.circle-nav-fill.black .swiper-pagination-switch {
	background:#000
}
.circle-nav-fill.black ul li.active,.circle-nav-fill.black .swiper-active-switch {
	background:none;
	border-color:#000
}
.circle-nav-fill ul li,.circle-nav-fill ul li a span,.circle-nav-fill .swiper-pagination-switch {
	-webkit-transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s;
	-moz-transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s;
	transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s
}
.circle-nav-outline ul li,.circle-nav-outline .swiper-pagination-switch {
	background:#fff
}
.circle-nav-outline ul li.active,.circle-nav-outline .swiper-active-switch {
	background:none;
	border:solid 2px #fff
}
.circle-nav-outline ul li,.circle-nav-outline ul li a span,.circle-nav-outline .swiper-pagination-switch {
	-webkit-transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s;
	-moz-transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s;
	transition:color 0.3s ease-out 0s,border 0.3s ease-out 0s,background 0.3s ease-out 0s
}
.primary-footer {
	background:#000;
	padding:1.875em 0;
	z-index:3;
	position:relative;
	clear:both
}
@media screen and (min-width: 55em) {
	.primary-footer .social {
		margin-top:0.625em;
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%
	}
	.primary-footer .social:last-child {
		margin-right:0
	}
	.primary-footer .social ul li {
		margin-right:1.125em
	}
	.primary-footer .careers {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%;
		float:right
	}
	.primary-footer .careers:last-child {
		margin-right:0
	}
	.primary-footer .careers p {
		float:right;
		padding:0
	}
}
.primary-footer .social,.primary-footer .careers {
	display:block;
	float:none;
	width:100%;
	margin:0
}
.primary-footer .social {
	padding-top:5px
}
@media screen and (min-width: 55em) {
	.primary-footer .social ul {
		text-align:left
	}
}
.primary-footer .social li {
	display:inline-block;
	margin-right:0.313em;
	border:solid 1px #454545
}
.primary-footer .social li,.primary-footer .social li a {
	height:3em;
	width:3em
}
.primary-footer .social li a {
	display:block
}
.primary-footer .social li span {
	line-height:1.9;
	font-size:1.5em
}
.primary-footer .careers p {
	color:#969999;
	margin:0 0 2.5em;
	padding:0 0.625em
}
@media screen and (min-width: 53.75em) {
	.primary-footer .careers p {
		margin-top:1.7em
	}
}
.crosslink-footer {
	font-family:"ProximaSemiBold", sans-serif;
	padding-top:1em;
	padding-bottom:1em;
	position:relative;
	z-index:99
}
.crosslink-footer li {
	margin-top:0.5em;
	margin-bottom:0.5em
}
@media (min-width: 35em) and (max-width: 53.75em) {
	.crosslink-footer li {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%
	}
	.crosslink-footer li:last-child {
		margin-right:0
	}
	.crosslink-footer li:nth-child(2n) {
		margin-right:0
	}
	.crosslink-footer li:nth-child(2n+1) {
		clear:left
	}
}
@media screen and (min-width: 53.75em) {
	.crosslink-footer li {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:31.76157%
	}
	.crosslink-footer li:last-child {
		margin-right:0
	}
	.crosslink-footer li:nth-child(3n) {
		margin-right:0
	}
	.crosslink-footer li:nth-child(4n) {
		clear:left
	}
}
.crosslink-footer a {
	display:inline-block;
	width:100%
}
.crosslink-footer img,.crosslink-footer p {
	vertical-align:middle
}
.crosslink-footer img {
	float:left;
	margin-right:10px
}
.crosslink-footer p {
	width:80%;
	line-height:1em;
	margin-top:4px;
	margin-bottom:0;
	float:left
}
.crosslink-footer a:hover {
	border:0
}
.crosslink-footer a:hover p {
	color:#ff7f07
}
.crosslink-footer a:hover img {
	text-decoration:none
}
.cta-block,.agency-in-60 {
	background:#ff7f07;
	padding:1.25rem 0
}
@media screen and (min-width: 62.5em) {
	.cta-block,.agency-in-60 {
		padding:0
	}
}
@media screen and (min-width: 62.5em) {
	.cta-block .description,.agency-in-60 .description,.cta-block .download,.agency-in-60 .download {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%
	}
	.cta-block .description:last-child,.agency-in-60 .description:last-child,.cta-block .download:last-child,.agency-in-60 .download:last-child {
		margin-right:0
	}
}
.cta-block .download .btn.ie8,.agency-in-60 .download .btn.ie8 {
	display:none
}
.cta-block .download .btn,.agency-in-60 .download .btn {
	margin-top:1.375rem
}
.cta-block .description>h2,.agency-in-60 .description>h2 {
	margin:0
}
@media screen and (min-width: 62.5em) {
	.cta-block .description>h2,.agency-in-60 .description>h2 {
		margin:1.875rem 0
	}
}
.cta-block,.agency-in-60 {
	background:#ff7f07;
	padding:1.25rem 0
}
@media screen and (min-width: 62.5em) {
	.cta-block,.agency-in-60 {
		padding:0
	}
}
@media screen and (min-width: 62.5em) {
	.cta-block .description,.agency-in-60 .description,.cta-block .download,.agency-in-60 .download {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:48.82117%
	}
	.cta-block .description:last-child,.agency-in-60 .description:last-child,.cta-block .download:last-child,.agency-in-60 .download:last-child {
		margin-right:0
	}
}
.cta-block .download .btn.ie8,.agency-in-60 .download .btn.ie8 {
	display:none
}
.cta-block .download .btn,.agency-in-60 .download .btn {
	margin-top:1.375rem
}
.cta-block .description>h2,.agency-in-60 .description>h2 {
	margin:0
}
@media screen and (min-width: 62.5em) {
	.cta-block .description>h2,.agency-in-60 .description>h2 {
		margin:1.875rem 0
	}
}
.contact-details .new-business,.contact-details .new-press {
	padding-top:2.8em;
	padding-bottom:2.8em
}
@media screen and (min-width: 53.75em) {
	.contact-details .new-business,.contact-details .new-press {
		width:50%;
		float:left
	}
	.contact-details .new-business:first-child,.contact-details .new-press:first-child {
		padding-bottom:2.8em
	}
}
.contact-details .new-business:first-child,.contact-details .new-press:first-child {
	padding-bottom:0
}
.contact-details .new-business {
	margin-bottom:3.125em
}
@media screen and (min-width: 53.75em) {
	.contact-details .new-business {
		margin-bottom:0
	}
}
.contact-details .new-press {
	border-top:solid 1px #cfcfcf
}
@media screen and (min-width: 53.75em) {
	.contact-details .new-press {
		border-top:none;
		border-left:solid 1px #cfcfcf
	}
}
.contact-details h2 {
	font-size:1.29773rem
}
.contact-details h3 {
	font-size:2.24248rem;
	color:#5d5e61;
	margin:0.286em 0 0
}
.contact-details h2,.contact-details p {
	margin:0
}
.contact-modal {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
	top:-100%;
	background:#fff;
	position:fixed;
	-webkit-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	left:50%;
	padding:10px 20px 35px 20px;
	z-index:1000;
	width:100%;
	height:100%
}
@media screen and (min-width: 62.5em) {
	.contact-modal {
		padding:10px 80px 35px 80px;
		width:auto;
		height:auto
	}
}
.contact-modal-success {
	text-align:center
}
.contact-modal .tick {
	margin:0 auto;
	display:block
}
.contact-modal .icon-close {
	position:absolute;
	right:10px;
	top:10px;
	cursor:pointer
}
.contact-modal.active {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	transition:0.3s;
	top:50%
}
.contact-blur.active {
	filter:blur(5px);
	-webkit-filter:blur(5px);
	-o-filter:blur(5px)
}
.contact-silhouette.active {
	background:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	z-index:100
}
.contact-modal h1 {
	margin-bottom:20px
}
.contact-modal .field {
	margin-bottom:15px
}
.contact-modal .btn.orange {
	margin-top:40px;
	display:block
}
.contact-modal .btn.orange.fill:hover {
	border-color:#ff7f07
}
.contact-locations {
	overflow:hidden
}
@media screen and (min-width: 53.75em) {
	.contact-locations .new-haven,.contact-locations .new-york,.contact-locations .vancouver {
		width:33.33%;
		padding:0
	}

.contact-locations .new-haven:after,.contact-locations .new-york:after,.contact-locations .vancouver:after {
	background:rgba(0,0,0,0.6)
}
.contact-locations .new-haven .content,.contact-locations .new-york .content,.contact-locations .vancouver .content {
	opacity:1;
	background: rgba(0,0,0,0.6);
	border: solid 1px #dd9191;
}
@media screen and (min-width: 53.75em) {
	.contact-locations .details {
		position:absolute;
		left:0;
		width:100%;
		text-align:center;
		
		-webkit-transition:opacity 0.3s 0s;
		-moz-transition:opacity 0.3s 0s;
		transition:opacity 0.3s 0s
	}
}
.contact-locations .new-haven {
	background-image:url(../images/pages/img_blank_722012_9531632.JPG);
	background-color:#bec8ca
}
.contact-locations .new-york {
	background-image:url(../images/pages/microsoft-office-training.jpg);
	background-color:#bebcbf
}
.contact-locations .vancouver {
	background-image:url(../images/pages/WriteImg.asp.png);
	background-color:#ccc
}

.contact-locations .new-haven1 {
	background-image:url(../images/pages/shutterstock_151453055-300x255.jpg);
	background-color:#bec8ca
}
.contact-locations .new-york1 {
	background-image:url(../images/pages/maxresdefaultfds.jpg);
	background-color:#bebcbf
	width:50px;
}
.contact-locations .vancouver1 {
	background-image:url(../images/pages/5834909.jpg);
	background-color:#ccc
}
.content:hover{
	display: none !important;
}
.new-haven img{
	width: 100%;
	height: auto;
}


.contact-locations h2 {
	font-size:2.69097rem;
	margin:0 0 0.625em;
	position:relative;
	-webkit-transition:margin 0.3s 0.1s;
	-moz-transition:margin 0.3s 0.1s;
	transition:margin 0.3s 0.1s
}
@media screen and (min-width: 53.75em) {
	.contact-locations h2 {
		font-size:2.24248rem
	}
}
@media screen and (min-width: 68.75em) {
	.contact-locations h2 {
		font-size: 2em;
        font-weight: bold;
	}
}
.contact-locations p {
	margin:0.625em 0 0.313em
}
.contact-hiring {
	background-image:url(/image/contact/bg_hiring.jpg);
	background-color:#3a3b40
}
.contact-hiring .content {
	padding:5em 0
}
@media screen and (min-width: 53.75em) {
	.contact-hiring .content {
		padding:0;
		height:28.125em
	}
}
.contact-hiring .content .align {
	width:90%
}
@media screen and (min-width: 53.75em) {
	.contact-hiring .content .align {
		width:43%
	}
}
.contact-hiring h1,.contact-hiring p {
	margin:0
}
.contact-hiring h1 {
	font-size:3.875rem
}
.contact-hiring p {
	margin:0.625em 0 1.125em
}
